body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fffaf3;
  color: #333;
}

nav {
  background: #352d22;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("images/santan-banner.jpg") center/cover no-repeat;

  min-height: 80vh;           /* banner height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: rgb(255, 251, 251);
  padding: 40px 20px;
}

.hero h2 {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 1px;
}

.hero h2 {
  text-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.hero p {
  font-size: 30px;
  margin: 15px 0 25px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

#hours {
  background-color: #f3ede2; /* slightly darker coconut tone */
}

#about {
  background-color: #f3ede2; /* soft coconut cream */
}

#about,
#hours {
  color: #1b1916; /* rich coconut shell brown */
}

#about,
#hours {
  border-radius: 20px;
  padding: 40px 20px;
  margin: 40px auto;
  max-width: 1200px;
}

#hours p {
  line-height: 0.8;
}

button {
  background: #338b30;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background: #352d22;
  color: white;
  padding: 15px;
}

.product-split {
  display: flex;
  background-color: #fffaf3;
  max-width: 1200px;      /* match About & Hours */
  margin: 40px auto;     /* spacing outside */
}

.product-left {
  flex: 1;
  background-image: url("images/santan-logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 20px;   /* rounded edges */
  border-bottom-left-radius:20px;
}

.product-logo {
  width: 600px;     /* controlled size */
  max-width: 100%;
  object-fit: contain;
}

.product-right {
  flex: 1;
  background-color: #e7dccb; /* soft husk brown */
  padding: 80px 60px;

  border-top-right-radius: 20px;   /* rounded edges */
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #3b2f24; /* coconut shell text */
}

.product-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.product-right p {
  margin: 8px 0;
  line-height: 1.8;
}

.product-right .price {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.location-section {
  padding: 50px 20px;
  background: #fffaf3; /* same soft color theme */
  text-align: center;
}

.location-section h2 {
  margin-bottom: 20px;
  color: #5a3e2b;
}



/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .product-left{
    border-radius: 20px 20px 0 0;
  }

  .product-right{
    border-radius: 0 0 20px 20px;
  }
  
  .product-split {
    flex-direction: column;
    margin: 20px;
  }

  .product-left {
    min-height: 300px
  }
  
  .product-right {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 0 0 20px 20px;
  }

  .product-logo {
    width: 100px;
    height: auto;
  }
}

